@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

.card {
  backdrop-filter: blur(20px);
  border-radius: 25px;
  background-color: rgba(229, 229, 229, 0.3);
  box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.3);

  @variant dark {
    background: rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 4px 20px 0px rgba(150, 150, 150, 0.3);
  }
}

#header-nav {
  animation: blur linear both 0.5s;
  animation-timeline: scroll();
  animation-range: 0 500px;
  background-color: rgba(255, 255, 255, 0.3);
  @variant dark {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@keyframes blur {
  from {
    border: 0px;
  }
  to {
    box-shadow: 0px 5px 50px -5px rgba(0, 0, 0, 0.1),
      0px 0px 0 1px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-width: 0 0 1px 0;
    border-color: rgba(0, 0, 0);
    border-radius: 0 0 25px 25px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

#three-a {
  @variant dark {
    fill: white;
  }
}

#php-a {
  @variant dark {
    fill: white;
  }
}

#jwt-a {
  @variant dark {
    stroke-width: 0;
  }
}

#bash-a {
  @variant dark {
    fill: white;
  }
}

#aws-a {
  @variant dark {
    fill: white;
  }
}

#astro-a {
  @variant dark {
    fill: white;
  }
}

#express-a {
  @variant dark {
    fill: white;
  }
}
