---
const personalImageAlt = 'Angel Hernandez'
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p>
      I'm Angel Hernandez from Mexico. I started programming by controlling a
      robot arm via a webpage when I was in high school.
      <strong> Now, I'm leading a small team of developers</strong>, ensuring
      the use of best practices and technologies to create great user experience
      web applications.
    </p>

    <p>
      I graduated in <strong>Bachelor's degree in Computer Sciences</strong> from
      the Interdisciplinary Professional Unit of Engineering and Social and Administrative
      Sciences (UPIICSA) at the National Polytechnic Institute (IPN).
    </p>

    <p>
      As a <strong>Lead Web Developer</strong> part of my responsibilities are leading
      the development, optimization, and maintenance of robust web applications,
      translating business requirements into technical specifications, managing and
      mentoring a team of developers and communicating with clients to understand
      their needs.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.jpeg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
